@import "tailwindcss";

@source "../src/**/*.{js,ts,jsx,tsx}";

@theme {
  --color-root-bg: #242424;
  --color-primary: #646cff;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-root-bg);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
